<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalles Cliente</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
</head>
<body>

<div class="container mt-5">
    <div class="col-md-12 text-md-right">
        <form action="/clientes">
            <button type="submit" class="btn btn-primary">Volver</button>
        </form>
    </div>


    <div th:if="${clienteDTO}">
        <div class="row">
            <div class="col-12">
                <h1 th:text="'Detalles de ' + ${clienteDTO.nombre}" class="display-4"></h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <p><strong>Nombre:</strong> <span th:text="${clienteDTO.nombre}"></span></p>
            </div>
            <div class="col-md-4">
                <p><strong>Apellido:</strong> <span th:text="${clienteDTO.apellido1}"></span></p>
            </div>
            <div class="col-md-4">
                <p><strong>Ciudad:</strong> <span th:text="${clienteDTO.ciudad}"></span></p>
            </div>
<!--            <div class="col-md-4">-->
<!--                <p><strong>Cantidad Pedido:</strong> <span th:text="${clienteDTO.cantidadPedidos}"></span></p>-->
<!--            </div>-->
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <h2>Pedidos:</h2>
            </div>
        </div>

        <div class="row">

            <div th:if="${clienteDTO.pedidos.isEmpty()}" class=" col-12 alert alert-danger">
                <p>No hay pedidos para este cliente.</p>
            </div>

            <ul th:if="${!clienteDTO.pedidos.isEmpty()}" class="list-group col-12">
                <li th:each="pedidoDTO : ${clienteDTO.pedidos}" class="list-group-item">

                    <div class="col-md-4">
                        <p><strong>ID Pedido :</strong> <span th:text="${pedidoDTO.id}"></span></p>
                    </div>

                    <div class="col-md-4">
                        <p><strong>Fecha:</strong> <span th:text="${pedidoDTO.fecha}"></span></p>
                    </div>

                    <div class="col-md-4">
                        <p><strong>Total:</strong> <span th:text="${pedidoDTO.total}"></span>€</p>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
