<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Inicio</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mx-auto px-4">
            <div class="flex flex-col items-center py-4 border-b-2">
                <div class="text-center text-4xl ">
                    <h1>Ventas</h1>
                </div>
            </div>

            <div class="flex flex-row justify-center my-4 space-x-4">
                <div class="text-center">
                    <a href="/clientes" class="btn btn-primary text-white px-4 py-2 rounded">Clientes</a>
                    <a href="/comerciales" class="btn btn-success text-white px-4 py-2 rounded">Comerciales</a>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    </body>
</html>
